extends layout

block content
	if latest
		section
			h1 最新異動法規
			ul.noMarker
				each law in latest
					li.lawInfo
						.lawCategory= law.法規類別
						.lawName(class=law.廢止註記 ? 'discard' : '')
							a(href='/law/'+law.PCode)= law.法規名稱
						div(style='font-size: small;')
							span(title='沿革次數') [#{law.沿革內容.length}]
							span= law.沿革內容[law.沿革內容.length - 1]