extends layout

block content
	h1(class=law.discarded ? 'discard' : '')= law.name

	nav: ul.inlineList
		li: a(href='/api/law/'+law.PCode, download=law.PCode+'.json') JSON
		li: a(href='http://law.moj.gov.tw/LawClass/LawAll.aspx?PCode='+law.PCode, target='_blank') 全國法規資料庫
	.dlTable
		dl
			dt 法規性質
			dd= law.characteristic
		dl
			dt 法規類別
			dd= law.category.join(' > ')
		dl
			dt 最新異動日期
			dd
				time= law.lastUpdate
				br
				button(ng-click='showHistory=!showHistory') {{showHistory?'隱藏歷次沿革':'顯示歷次沿革 (#{law.history.length})'}}
		if law.english
			dl
				dt 英文法規名稱
				dd= law.english
		if law.discarded
			dl
				dt 狀態
				dd.em 已廢止

	section(ng-show='showHistory')
		h2: a(name='history') 沿革
			ol.history
				each amend in law.history
					li= amend

	if law.tableOfContents && law.tableOfContents.length
		section.toc
			a(name='toc')
			+tableOfContents(law.tableOfContents)

	section.lawContent
		h2: a(name='content') 法規內容
		if law.preamble
			article
				.ordinal(class='前言')
					a(name='前言') 前言
				p= law.preamble
		each article in law.content
			article
				- var type = article.type || '條';
				-
					var ref = (type == '條')
						? ('art_' + article.number)
						: ('div_' + article.trace.join('_'))
					;
				.ordinal(class=type)
					a(name=ref)
						| 第 #{article.numberString} #{type}
						if article.title
							span.title= article.title
				if article.content
					+articleContent(article.content)

mixin tableOfContents(toc)
	ol
		each node in toc
			li
				a(href='#div_'+node.trace.join('_'))
					| 第 #{node.numberString} #{node.type} #{node.title}
				span.range
					| §
					+numberString(node.range[0])
					| ~§
					+numberString(node.range[1])
				if node.children
					+tableOfContents(node.children)

mixin articleContent(artCon, spaces)
	- var style = (spaces === undefined) ? '' : ('padding-left: ' + (spaces / 2) + 'em;');
	- var spaces = spaces || 0;
	ol(style=style)
		each elem in artCon
			- var spaceDiff = elem.spaces - spaces;
			li
				if elem.warning
					.warning(title='因原始資料格式限制，此處'+elem.warning) （#{elem.warning}）
				+paragraph(elem.text, spaceDiff, -spaceDiff)
				if elem.children
					+articleContent(elem.children, elem.spaces)
				if elem.posttext
					+paragraph(elem.posttext, spaceDiff, 0)

mixin paragraph(text, paddingLeft, textIndent)
	- var text = text.replace(/\n/g, '<br>');
	- paddingLeft = paddingLeft ? ('padding-left: ' + (paddingLeft / 2) + 'em;') : '';
	- textIndent = textIndent ? ('text-indent: ' + (textIndent / 2) + 'em;') : '';
	p(style=paddingLeft+textIndent)!= text

mixin numberString(number)
	- var main = number.toString ? number.toString().slice(0, -2) : 'NaN';
	- var sub = number % 100;
	| #{main}#{sub ? ('-' + sub) : ''}