extends layout

mixin articleContent(content)
	if content.text
		p= content.text	
	if content.siblings
		each sib in content.siblings
			p= sib.text
	if content.children
		ol(class={article: content.stratum === undefined})
			each child in content.children
				li: +articleContent(child)
	if content.posttexts
		each post in content.posttexts
			p= post.text

block content
	h1(class=law.廢止註記 ? 'discard' : '')= law.法規名稱
	nav: ul.inlineList
		li: a(href='/api/law/'+law.PCode, download=law.PCode+'.json') JSON
		li: a(href=law.法規網址, target='_blank') 全國法規資料庫
	.dlTable
		dl
			dt 最新異動日期
			dd= law.最新異動日期
		dl
			dt 法規性質
			dd= law.法規性質
		dl
			dt 法規類別
			dd= law.法規類別
		if law.英文法規名稱
			dl
				dt 英文法規名稱
				dd= law.英文法規名稱
		if law.廢止註記
			dl
				dt 狀態
				dd.em 已廢止

	h2: a(name='沿革') 沿革
	ol.history
		each amend in law.沿革內容
			li= amend

	h2: a(name='法規內容') 法規內容
	if law.前言
		.artTitle: a(name='前言') 前言
		.rawdata= law.前言
	each article in law.法規內容
		if article.條號
			.artTitle: a(name=article.條號)= article.條號
			+articleContent(article.content)
			//-.rawdata #{JSON.stringify(article.content, null, '\t')}
			//-.rawdata= article.條文內容
		else
			- var chapterType = article.編章節.charAt(article.編章節.lastIndexOf(" ") -1 )
			.chapter(class=chapterType)
				a(name=article.編章節)= article.編章節
