ul.lawList
	each law in lawList
		li.lawInfo(class=law.廢止註記 ? 'discard' : '')
			.lawCategory(title='類別')= law.法規類別
			.lawName
				a(href='/law/'+law.PCode)= law.法規名稱
			.history
				span(title='異動次數') [#{law.沿革內容.length}]
				span(title='最新異動說明')= law.沿革內容[law.沿革內容.length - 1]
